WP_ENV=local
WP_DEBUG=false
WP_THEME=starter-theme

DB_HOST=localhost
DB_NAME={name_of_the_db}
DB_USER=root
DB_PASSWORD=root

TABLE_PREFIX="{table_prefix}_"

WP_SUB_DIR="/{name_of_the_dir}"

AUTH_KEY='yourrandomstring'
SECURE_AUTH_KEY='yourrandomstring'
LOGGED_IN_KEY='yourrandomstring'
NONCE_KEY='yourrandomstring'
AUTH_SALT='yourrandomstring'
SECURE_AUTH_SALT='yourrandomstring'
LOGGED_IN_SALT='yourrandomstring'
NONCE_SALT='yourrandomstring'
