# Database data
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password

# Optional variables
# DB_HOST=localhost
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://example.com
WP_SITEURL=${WP_HOME}/wp

# Generate your keys here: https://roots.io/salts.html

AUTH_KEY='yourrandomstring'
SECURE_AUTH_KEY='yourrandomstring'
LOGGED_IN_KEY='yourrandomstring'
NONCE_KEY='yourrandomstring'
AUTH_SALT='yourrandomstring'
SECURE_AUTH_SALT='yourrandomstring'
LOGGED_IN_SALT='yourrandomstring'
NONCE_SALT='yourrandomstring'
