$default-font-size: 16px;

/**
 * GRID SETTINGS
 */
$content-width: 1280px;
$col_nb: 12;

// Breakpoint for media-queries, you should include the min-width for each breakpoint
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1080px
);
